/*
 * GLOBAL VARIABLES 
 */
@font-face {
  font-family: "Fraunces 144pt";
  src: url(../fonts/./fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf);
}
@font-face {
  font-family: "Fraunces 144pt 2";
  src: url(../fonts/./fraunces/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Manrope 2";
  src: url(../fonts/manrope/Manrope-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  padding: 32px 16px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
}
header p {
  border-bottom: 3px solid #44FFA1;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: #FFFFFF;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .home {
  width: 100%;
  height: 481.71px;
  border-radius: 0 0 50% 50%/0 0 17.75px 17.75px;
  background-color: #24053E;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  clip-path: ellipse(100% 55% at 50% 45%);
  overflow: visible;
  position: relative;
}
main .home .pattern-img {
  display: none;
}
main .home .intro {
  margin: 160px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .home .intro .title {
  font-family: "Fraunces 144pt 2";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}
main .home .intro .title span {
  position: relative;
}
main .home .intro .title span:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #44FFA1;
  position: absolute;
  bottom: 5%;
  left: 0;
}
main .home .intro button {
  padding: 11px 24px 12px 23px;
  border: none;
  background-color: #44FFA1;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.16px;
  color: #24053E;
}
main .home img {
  width: 320px;
  height: 182px;
}
main .features {
  margin-top: -89.71px;
  padding-top: 245px;
  height: 1070.71px;
  border-radius: 0 0 50% 50%/0 0 17.75px 17.75px;
  background-color: #FCF8FF;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .features .feature {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}
main .features .feature .number {
  width: 48px;
  height: 46px;
  border: 1px solid #584D62;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fraunces 144pt 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #24053E;
}
main .features .feature .text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .features .feature .text-content .title {
  font-family: "Fraunces 144pt 2";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #24053E;
}
main .features .feature .text-content .subtitle {
  font-family: "Manrope 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #584D62;
}
main .test .test-content {
  margin: 100.29px 16px 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .test .test-content img {
  width: 281px;
}
main .test .test-content .inner-text {
  margin-top: -53px;
  padding: 32px 31px;
  background-color: #24053E;
  text-align: center;
}
main .test .test-content .inner-text .title {
  font-family: "Fraunces 144pt 2";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}
main .test .test-content .inner-text .caption {
  margin: 16px 0 24px;
  font-family: "Manrope 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
main .test .test-content .inner-text button {
  padding: 11px 23.5px 12px;
  border: none;
  background-color: #44FFA1;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: #24053E;
}

footer .btns {
  margin-bottom: 63.78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
footer .btns .links {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 32px 39px 0 40px;
  }

  main {
    position: relative;
  }
  main .pattern-img {
    display: inline;
    position: absolute;
  }
  main .pattern-img.sec {
    left: 11.39px;
    top: 387.94px;
  }
  main .pattern-img.third {
    top: 0;
    right: 0;
  }
  main .pattern-img.fourth {
    bottom: 0;
    right: 0;
  }
  main .home {
    height: 540.24px;
    border-radius: 0 0 50% 50%/0 0 36.25px 36.25px;
    gap: 55px;
  }
  main .home .pattern-img {
    display: inline;
    position: absolute;
  }
  main .home .pattern-img.first {
    width: 270.29px;
    height: 215.1px;
    left: 11.39px;
    top: 387.94px;
    transform: rotate(-152deg);
  }
  main .home .pattern-img.sec {
    left: 11.39px;
    top: 387.94px;
    transform: rotate(-152deg);
  }
  main .home .pattern-img.third {
    top: 0;
    right: 0;
  }
  main .home .pattern-img.fourth {
    bottom: 0;
    right: 0;
  }
  main .home .intro {
    margin: 122px 0 0;
    gap: 39px;
  }
  main .home .intro .title {
    font-size: 60px;
    line-height: 60px;
  }
  main .home img {
    width: 514px;
    height: 296px;
  }
  main .features {
    margin-top: -137.25px;
    padding-top: 341px;
    height: 920.73px;
    border-radius: 0 0 50% 50%/0 0 36.25px 36.25px;
    gap: 48px;
  }
  main .features .feature {
    margin: 0;
    flex-direction: row;
    gap: 32px;
    text-align: left;
  }
  main .features .feature .text-content {
    width: 493px;
    align-items: flex-start;
  }
  main .test .test-content {
    margin: 100.27px 39px 80px 40px;
    width: 689px;
    display: flex;
    align-items: stretch;
  }
  main .test .test-content img {
    align-self: flex-start;
  }
  main .test .test-content .inner-text {
    margin-top: -130px;
    padding: 48px 56px 56px;
    width: 514px;
    align-self: flex-end;
    text-align: left;
  }
  main .test .test-content .inner-text .title {
    font-size: 48px;
    line-height: 56px;
  }
  main .test .test-content .inner-text button {
    padding: 11px 23.5px 12px;
    border: none;
    background-color: #44FFA1;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #24053E;
  }
}